<div>
  <div>
    <div class="pantry-card">
      <h3 class="pantry-card-title">{{name}}</h3>
      <div>
        <a class="pantry-card-button" href="/pantry/manage/{{id}}">Manage</a>
        <a class="pantry-card-button" href="/pantry/edit/{{id}}">Change Name</a>
        <a class="pantry-card-button" id="pantry-delete" href="/pantry/delete/{{id}}">Delete </a>
      </div>
    </div>
  </div>
</div>