<div class="col-md-3">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">{{name}}</h3>
      <a id="view-album-button" href="/pantry/manage/{{id}}">Manage</a>
      <a id="view-album-button" href="/pantry/edit/{{id}}">Change Name</a>
      <a id="view-album-button" href="/pantry/delete/{{id}}">Delete </a>
    </div>
  </div>
</div>