
<h1 id="site-title">Project-Pantry-App</h1>


<div class="user-form-border">

  <div>
    <form class="user-form" action="/signup" method="POST">

      <h2 id="signup-title">Signup</h2>

      <div class="inner-user-form">
        <div>
          {{!-- <label for="displayName">Display Name: </label> --}}
          <input id="displayName" type="text" name="displayName" placeholder="Display Name i.e.. IronHacker22" >
        </div>

        <div>
          {{!-- <label for="email">Email: </label> --}}
          <input id="email" type="text" name="email" placeholder="Email">
        </div>

        <div>
          {{!-- <label for="password">Password: </label> --}}
          <input id="password" type="password" name="password" placeholder="Password">
        </div>

        <div>
          {{!-- <label for="confirm-password">Confirm Password: </label> --}}
          <input id="confirm-password" type="password" name="confirmPassword" placeholder="Confirm password">
        </div>

        <button id="signup-button" type="submit">Signup</button>
      </div>

      <hr>

      {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
      {{/if}}

    </form>
  </div>

 

  <div>
    <form class="user-form" action="/login" method="GET">

      <h2>Or Login</h2>

      <div class="inner-user-form">
        <button id="login-button" type="submit">Login</button>
      </div>
    
    </form>
  </div>

</div>



