<div class="user-form-border">

  <div>
    <form class="user-form" action="/signup" method="POST">

      <h2>Signup</h2>

      <div class="inner-user-form">
        <div>
          {{!-- <label for="displayName">Display Name: </label> --}}
          <input id="displayName" type="text" name="displayName" placeholder="JohnDoe2022" >
        </div>

        <div>
          {{!-- <label for="email">Email: </label> --}}
          <input id="email" type="text" name="email" placeholder="Your email here">
        </div>

        <div>
          {{!-- <label for="password">Password: </label> --}}
          <input id="password" type="password" name="password" placeholder="password">
        </div>

        <div>
          {{!-- <label for="confirm-password">Confirm Password: </label> --}}
          <input id="confirm-password" type="password" name="confirmPassword" placeholder="Confirm password">
        </div>

        <button id="signup-button" type="submit">Signup</button>
      </div>

    </form>
  </div>

  <div>
    <form class="user-form" action="/login" method="GET">

      <h2>Or Login</h2>

      <div class="inner-user-form">
        <button id="login-button" type="submit">Login</button>
      </div>
    
    </form>
  </div>

</div>



