<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Module-2-Project: Pantry</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <style>@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');</style>
</head>

<body>
  <nav>
    <h5>projectPantryApp</h5>
    <ul>
      <li>
        {{#if currentUser}}
        <a href='/manage'>My Pantries</a>
        <a href='/logout'>Logout</a>
        {{/if}}
      </li>
    </ul>
  </nav>

  {{!-- <nav>
     <ul>
        <li id="to-left">
            <h4>projectPantryApp</h4>
        </li>
        <li id="to-right">
            <a id="#login-button" href='/manage'>My Pantries</a>
            
            {{#if currentUser}}
            <form id="logout-form" action="/logout" method="POST">
              <button>Logout</button>
            </form>
            {{/if}}
        </li>
      </ul>
  </nav> --}}

  {{{body}}}

  <script src="/js/script.js"></script>
</body>
</html>