<div id="user-welcome">
  <h1><b> Welcome,</b> <i>{{currentUser.displayName}}</i></h1>
  <a href="/edit/{{currentUser._id}}">Edit Profile</a>
</div>

<hr>

<br>

<div id="create-pantry-button">
  <a class="standard-button" href="/pantry/create">Create a Pantry</a>
</div>


{{#if pantry}}
<div class="container">
  <div class="row">
    {{#each pantry}}
      {{> pantryCard this}}
    {{/each}}
  </div>
</div>
{{else}}
  <div id="no-pantries-message">
    <p>No pantries found, please create one to continue...</p>
  </div>
{{/if}}

{{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
{{/if}}

<hr>

<div id="search-products">
  <p>Search products to add to your pantries...</p>
  <a class="standard-button" id="find-products-button" href='/product-list/'>Find Products</a>
</div>

