body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  /* margin: 0px 30px 0px 30px; */
}

/* form {
  margin: auto;
  width: 380px;
} */

.user-form-border {
  border-radius: 40px;
  margin: auto;
  margin-top: 100px;
  width: 500px;
  background-color: rgba(218, 211, 219, 0.66);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.541);
}

.user-form {
  margin: auto;
  width: 400px;
  padding-top: 20px;
  color: rgba(26, 6, 6, 0.877);
}

.user-form h2 {
  font-weight: 700;
}

.user-form hr {
  margin: .5rem;
  border: none;
  height: 1px;
  color: #333;
  background-color: #333; 
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.978);
}

.inner-user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-user-form button {
  width: 300px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid rgba(0, 0, 0, 0.541);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.541);
}

.user-form input {
  width: 350px;
  border-radius: 5px;
  border: none;
  height: 2.5rem;
  margin-bottom: 20px;
  font-size: 14px;
}

#signup-button {
  background-color: #4e14e090;
  padding: 5px;
}

#login-button {
  background-color: #2d3e15ab;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid rgba(0, 0, 0, 0.541);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.541);
  padding: 5px;
}

#signup-button:hover {
  background: rgba(27, 3, 3, 0.795);
  transition: 0.3s ease background;
  color: white;
}

#login-button:hover {
  background: rgb(27, 3, 3);
  transition: 0.3s ease background;
  color: white;
}

.error {
  background: #f02b63;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.541);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.541);
  color: #fff;
  margin-bottom: 40px;
  padding: 20px;
  width: 100%;
  text-align: center;
}

.success {
  background: rgba(0, 128, 0, 0.661);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.541);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.541);
  color: #fff;
  margin-bottom: 40px;
  padding: 20px;
  width: 100%;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #43a3e6;
  height: 60px;
  padding: 1rem;
  margin: 10px 100px 30px 100px;
  background-color: rgba(218, 211, 219, 0.418);
  border-radius: 10px;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.541);
}

nav h5 {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.541);
}

nav ul {
  list-style-type: none;
}

nav a {
  background-color: rgba(60, 60, 249, 0.659);
  color: white;
  font-size: 16px;
  border: .5px solid rgba(0, 0, 0, 0.541);
  border-radius: 10px;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.541);
  padding: 5px;
  margin-left: 10px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.541);
}

nav a:hover {
  background: rgba(27, 3, 3, 0.716);
  transition: 0.4s ease background;
  text-decoration: none;
  padding: 8px;
  color: white;
}

#profile-inner input {
  width: 350px;
  border-radius: 10px;
  border: none;
  height: 2.5rem;
  margin: 10px 20px 20px 20px;
  font-size: 14px;
  border: 1px solid black;
}
#profile-inner label {
  margin-left: 15px;
  margin-top: 10px;
}

#user-welcome {
  display: flex;
  align-items: center;
  margin-left: 120px;
}

#user-welcome a {
  margin-left: 15px;
  padding: 0px 5px 0px 5px;
  font-size: 14px;
  text-decoration: none;
  background-color: #96eb20d3;
  border: 1px solid rgba(0, 0, 0, 0.541);
  border-radius: 5px;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.541);
}

#user-welcome a:hover {
  background: rgba(27, 3, 3, 0.716);
  transition: 0.4s ease background;
  padding: 4px;
  color: white;
}

.standard-button {
  background-color: #7c41e9ab;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid rgba(0, 0, 0, 0.541);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.541);
  padding: 5px;
  color: white;
  border-radius: 10px;
}

.standard-button:hover {
  background: rgb(27, 3, 3);
  color: #43a3e6;
  transition: 0.3s ease background;
  color: white;
  padding: 8px;
  text-decoration: none;
}

.row {
  justify-content: center;
}

#create-pantry-button {
 text-align: center;
 margin-bottom: 15px;
}

#find-products-button {
  background-color: red;
  padding-left: 20px;
  padding-right: 20px;
}

#find-products-button:hover {
  background: rgb(27, 3, 3);
  color: #43a3e6;
  transition: 0.3s ease background;
  color: white;
  text-decoration: none;
}

hr {
  margin-top: 1rem;
  margin-left: 120px;
  margin-right: 120px;
  border: none;
  height: 1px;
  background-color: rgba(51, 51, 51, 0.995); 
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.979);
}

#search-products {
  margin-top: 30px;
  text-align: center;
}

#change-pantry-h2 {
  text-align: center;
  padding-bottom: 5px;
}

.pantry-card {
  border-radius: 20px;
  margin: 1rem;
  width: 250px;
  text-align: center;
  padding: 5px;
  height: 90px;
  background-color: rgba(51, 51, 51, 0.49);
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.541);
}

.pantry-card h3 {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.541);
  margin-bottom: 10px;
  color: white;
}

.pantry-card-button {
  background-color: #7c41e9ab;
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0.541);
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.541);
  padding: 3px;
  color: white;
  border-radius: 5px;
}

.pantry-card-button:hover {
  background: rgb(27, 3, 3);
  color: #43a3e6;
  transition: 0.3s ease background;
  color: white;
  padding: 4px;
  text-decoration: none;
}

#pantry-delete {
  background-color: #eb0c0cab;
}

#pantry-delete:hover {
  background: yellow;
  transition: 0.3s ease background;
  color:red;
  padding: 4px;
  text-decoration: none;
}

#manage-pantry-header {
  margin-left: 105px;
  margin-bottom: 50px;
}

#manage-pantry-message {
  margin-left: 105px;
  background-color: yellow;
  border-radius: 10px;
  width: 400px;
  padding: 5px;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.541);
}

.card {
  min-height: 400px;
  max-height:fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(82, 82, 82, 0.224);
  border: none;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.428);
  font-size: 14px;
  margin-top: 20px;
}

.card-img-top {
  max-width: 200px;
  max-height: 250px;
  margin-top: 10px;
  padding-top: 10px;
  border-radius: 10px;
}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.card-text {
  margin: 4px;
  text-align: center;
}

#product-qty {
  width: 50px;
}

#qty-form {
  margin: 10px 5px 10px 5px;
  text-align: center;
}

#qty-form input {
  border-radius: 5px;
  border: none;
  margin-right: 5px;
  height: 28px;
}

#pantry-product-buttons {
  margin-top: 15px;
  text-align: center;
}

#pantry-product-remove-button {
  background-color: red;
}

#pantry-product-qty-button {
  background-color: green;
}

.pantry-product-button {
  background-color: #7c41e9ab;
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0.541);
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.541);
  padding: 3px;
  color: white;
  border-radius: 5px;
  border: none;
}

.pantry-product-button:hover {
  background: rgb(27, 3, 3);
  transition: 0.3s ease background;
  color: white;
  padding: 4px;
  text-decoration: none;
}

#product-search {
  margin: 10px 100px 5px;
  padding: 10px;
  background-color: rgba(51, 51, 51, 0.439);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.541);
  border-radius: 10px;
}

#product-search input {
  border-radius: 10px;
  margin-left: 10px;
  width: 300px;
  border: none;
  padding-left: 10px;
}

#product-search .standard-button {
  padding: 0;
  margin-bottom: 5px;
  width: 200px;
  border: none;
}

#product-detail-card {
  width: 400px;
  margin-left: 110px;
  border-radius: 30px;
}

#product-detail-image {
  text-align: center;
}

#product-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

#product-detail-card p {
 text-align: left;
}

.product-card-img-top {
  max-width: 300px;
  max-height: 250px;
  margin-top: 20px;
  border-radius: 10px;
}

.product-card-body{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: left;
  margin: 10px;
}

#qty-selection {
  display: flex;
  justify-content: center;
  align-items: center;
}

#qty-selection input{
  border: none;
  border-radius: 5px;
  margin-left: 20px;
  text-align: center;
  width: 80px;
}

#qty-label {
  background-color: #549e42ab;
  border: 1px solid rgba(0, 0, 0, 0.541);
  color: white;
  border-radius: 5px;
  border: none;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin:0;
}

#add-pantry {
  text-align: center;
  margin: 10px;
}

#pantry-add {
  padding: 20px;
  background-color: rgba(51, 51, 51, 0.585);
  border-radius: 20px;
} 

#no-pantries-message {
  display: flex;
  justify-content: center;
  text-align: center;
}

#no-pantries-message p {
  background-color: rgba(255, 255, 0, 0.521);
  text-align: center;
  color: red;
  font-size: 18px;
  padding: 5px;
  border-radius: 10px;
  border: solid 2px rgba(255, 0, 0, 0.735);
  box-shadow: 0 1rem 1rem rgba(255, 0, 0, 0.541);
  margin-top: 10px;
}


