
<div id="product-search">
  {{!-- <a class="standard-button" href="/product-list">Show All Products</a> --}}

  <form action="/product-list" method="GET">
  <button class="standard-button" type="Submit">Show All Products</button>
  </form>

  <form action="/product-search-upc" method="POST">
  <button class="standard-button" type="Submit">Search UPC</button>
  <input type="text" name="barcode_number" placeholder="UPC Code" >
  </form>

  <form action="/product-search-title" method="POST">
  <button class="standard-button" type="Submit">Search Name</button>
  <input type="text" name="title" placeholder="Product Name" >
  </form>
</div>

{{#if products}}
<div class="container">
  <div class="row">
    {{#each products}}
      {{> productCard this}}
    {{/each}}
  </div>
</div>
{{/if}}