<div class="user-form-border">
  <div>
    <form class="user-form"  action="/pantry/create" method="POST">

      <h2>Create a Pantry</h2>

      <div class="inner-user-form">

        <div>
          <label for="pantryName">Pantry Name: </label>
          <input id="pantryName" type="text" name="name" placeholder="Name your pantry" >
        </div>

        <button class="standard-button" type="submit">Submit</button>

        {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
        {{/if}}

      </div>

    </form>
  </div>
</div>