<div id="manage-pantry-header">
  <h1><u><b>Manage</u>:</b><i>  {{pantry.name}}</i></h1>
</div>


{{#if pantry.products}}
<div class="container">
  <div class="row">
    {{#each pantry.products}}
       {{> pantryProductCard}}
    {{/each}}
  </div>
</div>
{{else}}
<p id="manage-pantry-message">Pantry doesn't currently contain any products...</p>
{{/if}}


