<div class="user-form-border">
  <div>
    <form class="user-form" action="/pantry/edit/{{pantryFound.id}}" method="POST">

      <h2 id="change-pantry-h2">Change Pantry Name</h2>

      <div class="inner-user-form">
        
        <div>
          {{!-- <label for="pantryName">Pantry Name: </label> --}}
          <input id="pantryName" type="text" name="name" value="{{pantryFound.name}}" >
        </div>

        <button class="standard-button" type="submit">Submit</button>

      </div>

    </form>
  </div>
</div>